@import url("photographer.css");
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1400px;
}

h1 {
    font-weight: 400;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.text--primary {
    color: #901C1C;
}

.logo {
    height: 50px;
}

#photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 0;
    padding: 0;
    margin-top: 100px;
}

.photographer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    justify-self: center;
    text-align: center;
}

#photographer_section li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    text-decoration: none;
}

.photographer__title {
    color: #D3573C;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
}

.photographer__infos__tagline {
    font-size: 11px;
}

.photographer__infos__price.text--grey {
    font-size: 12px;
    color: gray;
}

#photographer_section li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.photographer__cover {
    position: relative;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    transition: transform .15s ease-in-out;
}

.photographer__cover img {
    object-fit: cover;
    height: 100%;
    min-width: 100%;
}